<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>This is a home page!!</h1>
    <h3> <%= "1+2" %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam saepe quasi labore voluptatum quisquam nulla fugiat suscipit. Esse, magnam quos atque quia non nemo? Vel hic quas totam voluptatibus praesentium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores temporibus et nostrum in, ut aliquam perferendis ipsum doloremque nobis laudantium! Rem voluptates a laudantium quas explicabo velit maxime voluptas aliquam.

    </p>
    <button>submit</button>
</body>
</html>